/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

//Кнопка
#hamburger-button {
  padding: 4px 8px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  z-index: 30;
}
// #hamburger-button:hover {
//   opacity: 0.3;
// }
// .s-header__hamburger-general.is-active:hover {
//   opacity: 0.3;
// }
// .s-header__hamburger-general.is-active #hamburger-button-inner,
// .s-header__hamburger-general.is-active #hamburger-button-inner::before,
// .s-header__hamburger-general.is-active #hamburger-button-inner::after {
//   background-color: $accent-btn-c;
// }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: $accent-btn-c;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#hamburger-general.is-active .hamburger-inner,
#hamburger-general.is-active .hamburger-inner::before,
#hamburger-general.is-active .hamburger-inner::after {
  background-color: $common-btn-c;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * 3DX
   */

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.s-header__hamburger-general.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.s-header__hamburger-general.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.s-header__hamburger-general.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

//Меню

.hamburger__window-wrapper {
  position: fixed;
  // display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(#000000, 0);
  transition: background 0.5s ease;
  z-index: -10;
}
.s-header__hamburger-general.is-active .hamburger__window-wrapper {
  background-color: rgba(#000000, 0.6);
  z-index: 5;
}

.hamburger__menu {
  position: fixed;
  transition: left 0.55s;
  transition-timing-function: linear;
  top: 0;
  left: -100%;
  height: 100%;
  width: 50%;
  overflow-y: auto;

  background-color: $negative-background-c;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 20;
}

.hamburger__grid {
  display: grid;
  grid-template-columns: auto;
  row-gap: 40px;
}
.s-header__hamburger-general.is-active .hamburger__menu {
  left: 0;
}

.hamburger__li {
}

.hamburger__link {
  color: $negative-strong-font-c;
  display: block;
  text-align: center;

  font-size: 30px;
  line-height: 1.15em;
}
.hamburger__link--active {
  color: $link-font-c;
}

@media screen and (max-width: 688px) {
  .hamburger__menu {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .hamburger__link {
    font-size: 20px;
  }
}
